html,
body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: min-content 1fr 250px;
  height: 100vh;
  width: 100vw;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 24px;
  padding: 24px;
  position: relative;
}

.controls {
  padding: 24px;
  box-sizing: border-box;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  gap: 8px;
}

.input-label-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-label-group label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: bold;
  height: 24px;
  width: 24px;
  font-size: 18px;
}

.input-label-group input {
  height: 24px;
  width: 48px;
}

.positive-button {
  background: green;
  color: white;
  font-family: monospace;
  font-size: 18px;
  padding: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.negative-button {
  background: red;
  color: white;
  font-family: monospace;
  font-size: 18px;
  padding: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.segments-container {
  display: grid;
  border-left: 1px solid black;
  box-sizing: border-box;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
}

.segments-container-title {
  display: flex;
  justify-content: center;
  background: green;
  color: white;
  padding: 24px 0;
  font-family: monospace;
  font-size: 32px;
}

.segments-container-counter {
  display: flex;
  justify-content: center;
  background: green;
  color: white;
  padding: 24px 0;
  font-family: monospace;
  font-size: 24px;
}

.segments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.matrix {
  display: grid;
  gap: 4px;
  border: 4px solid black;
  box-sizing: border-box;
}

.on {
  height: 100%;
  width: 100%;
  background: green;
}

.off {
  height: 100%;
  width: 100%;
  background: lightgray;
}
