html,
body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  width: 100vw;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 24px;
  padding: 24px;
}

.segments-container {
  display: grid;
  border-left: 1px solid black;
  box-sizing: border-box;
  grid-template-rows: min-content 1fr min-content;
}

.segments-container-title {
  display: flex;
  justify-content: center;
  background: green;
  color: white;
  padding: 24px 0;
  font-family: monospace;
  font-size: 32px;
}

.segments-container-counter {
  display: flex;
  justify-content: center;
  background: green;
  color: white;
  padding: 24px 0;
  font-family: monospace;
  font-size: 24px;
}

.segments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.matrix {
  display: grid;
  gap: 4px;
  border: 4px solid black;
  box-sizing: border-box;
}

.on {
  height: 100%;
  width: 100%;
  background: green;
}

.off {
  height: 100%;
  width: 100%;
  background: lightgray;
}
